# Sets

## Values in sets are unique
- Duplicate values are removed

In [1]:
emails = [
    "anna@example.com", "bob@example.com", "anna@example.com",
    "carl@example.com", "bob@example.com"
]

emails

['anna@example.com',
 'bob@example.com',
 'anna@example.com',
 'carl@example.com',
 'bob@example.com']

In [2]:
set(emails)

{'anna@example.com', 'bob@example.com', 'carl@example.com'}

In [3]:
list(set(emails))

['anna@example.com', 'carl@example.com', 'bob@example.com']

## Mathematical set operations
- Union
- Intersect
- except

In [ ]:
# Intersect
first_month_customers = {"alice", "bob", "carla", "daniel"}
second_month_customers = {"carla", "daniel", "elena"}

returning_customers = first_month_customers.intersection(second_month_customers)

returning_customers

{'carla', 'daniel'}

In [ ]:
# Union
all_customers = first_month_customers.union(second_month_customers)

all_customers

{'alice', 'bob', 'carla', 'daniel', 'elena'}

In [4]:
# Exept
# Combine Union and intersect

one_time_customers = first_month_customers.union(second_month_customers) - first_month_customers.intersection(second_month_customers)

one_time_customers

{'alice', 'bob', 'elena'}

In [6]:
# Sets have no order

all_customers[0]

TypeError: 'set' object is not subscriptable

In [8]:
all_customers_list = list(all_customers)

all_customers

{'alice', 'bob', 'carla', 'daniel', 'elena'}

In [9]:
all_customers_tuple = tuple(all_customers)

all_customers_tuple

('daniel', 'elena', 'carla', 'alice', 'bob')