# Strings

In [2]:
firstname = "Rikard"
lastname = "Oledal"

fullname = firstname + " " + lastname

fullname

'Rikard Oledal'

In [4]:
work = "Rapport Specialist AB"
address = "Ljungvägen 96"
phone = "0738394420"

contact_details = f"""
name: {fullname}
work: {work}
address: {address}
phone: {phone}
"""

contact_details

'\nname: Rikard Oledal\nwork: Rapport Specialist AB\naddress: Ljungvägen 96\nphone: 0738394420\n'

In [5]:
print(contact_details)

name: Rikard Oledal
work: Rapport Specialist AB
address: Ljungvägen 96
phone: 0738394420

In [8]:
meny = ["chili con carne", "noodles", "pokebowl", "pancakes", "taco"]
days = ["mo", "tu", "wed", "thu", "fri"]

weekly_meny = "Weekly meny\n"

for day, food in zip(days, meny):
    weekly_meny += f"{day}: {food}\n"

print(weekly_meny)

Weekly meny
mo: chili con carne
tu: noodles
wed: pokebowl
thu: pancakes
fri: taco

In [9]:
quote = "!False - it's funny because it's True"
quote

"!False - it's funny because it's True"

In [ ]:
#first letter
quote[0]

'!'

In [ ]:
#last letter
quote[-1]

'e'

In [ ]:
#slicer (ex slice after 6th letter)
quote[:6]

'!False'

In [17]:
#change direction of text
quote[::-1]

"eurT s'ti esuaceb ynnuf s'ti - eslaF!"

In [ ]:
# check if palindrome
string_to_check = "anna"
string_to_check[::-1] == string_to_check

True

## Splitting and cleaning a string

In [19]:
subjects = "Math, biology   ,    cHeMistry   ,  PrOgramming"
subjects = subjects.split(",")
subjects

['Math', ' biology   ', '    cHeMistry   ', '  PrOgramming']

In [24]:
subjects = [subject.strip().upper() for subject in subjects]
for subject in subjects:
    print(f"{subject} has {len(subject)} characters")

MATH has 4 characters
BIOLOGY has 7 characters
CHEMISTRY has 9 characters
PROGRAMMING has 11 characters

## RegEx

In [26]:
import re

text = "Det var en gång en katt som tog på sig en hatt"
match_list = re.findall(r".att", text)

match_list

['katt', 'hatt']

In [27]:
personal_numbers = "Ida: 19950516-2235, Berit: 19581212-3213, Ada 050524-1513"
match_long = re.findall(r"\d{8}-\d{4}", personal_numbers)
match_long

['19950516-2235', '19581212-3213']

In [28]:
match_short = re.findall(r"\d{6}-\d{4}", personal_numbers)
match_short

['950516-2235', '581212-3213', '050524-1513']