# OOP fundamentals

___init___

In [1]:
class Admission:
    def __init__(self, school, program, name, accept):
        self.school = school
        self.program = program
        self.name = name
        self.accept = accept

person1 = Admission("cool school", "AI", accept=True, name="Rikard")
person1

In [3]:
person1.school, person1.name

('cool school', 'Rikard')

In [6]:
person1.name = "Louise"
person1.name

'Louise'

In [8]:
person2 = Admission("Cooler school", "Data engineering", accept=False, name="Gore Bord")
person2.program, person1.program

('Data engineering', 'AI')

In [9]:
person1 == person2

False

In [10]:
hex(id(person1)), hex(id(person2))

('0x18e42f2e4e0', '0x18e42fb4ef0')

___repr___

In [16]:
class Admission:
    def __init__(self, school, program, name, accept):
        self.school = school
        self.program = program
        self.name = name
        self.accept = accept
    
    def __str__(self):
        return f"{self.name} has applied to {self.program} at {self.school}, accepted {self.accept}"
    
    def __repr__(self):
        return f"Admission(school = '{self.school}', program = '{self.program}', name = '{self.name}', accept = {self.accept})"

student = Admission("Cool school", "Java", "Victor Freeze", True)
print(student)
student

Victor Freeze has applied to Java at Cool school, accepted True

Admission(school = 'Cool school', program = 'Java', name = 'Victor Freeze', accept = True)

In [17]:
print(student)

Victor Freeze has applied to Java at Cool school, accepted True